@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color: white;
    background-color: #181824;
    font-size: 17px;
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}